:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all ease 0.4s;
}
.about_achievements {
  margin-top: 3rem;
}
.about_achievements-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5rem;
}
.about_achi-right > p {
  margin: 1.6rem 0 2.5rem;
}
.achi_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.achi_card {
  background: var(--color-bg1);
  padding: 1.6rem;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
}
.achi_card:hover {
  background: var(--color-bg2);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}
.achi_icon {
  background: var(--color-danger);
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.achi_card:nth-child(2) .achi_icon {
  background: var(--color-success);
}
.achi_card:nth-child(3) .achi_icon {
  background: var(--color-warning);
}
.achi_card p {
  margin-top: 1rem;
}

.team {
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}
.team_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.team_member {
  background: var(--color-bg2);
  padding: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.team_member:hover {
  background: transparent;
  border-color: var(--color-primary);
}
.team_member-image img {
  filter: saturate(0);
  transition: var(--transition);
  border-radius: 1rem;
}
.team_member:hover img {
  filter: saturate(1);
  transform: scale(1.02);
}
.team_member-info * {
  text-align: center;
  margin-top: 1.4rem;
}
.team_member-info p {
  color: var(--color-light);
}
.team_member-socials {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  border-radius: 1rem 0 0 1rem;
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}
.team_member:hover .team_member-socials {
  right: 0;
}
.team_member-socials a {
  padding: 1rem;
}

@media screen and (max-width: 1324px) {
  .about_achievements {
    margin-top: 2rem;
  }
  .about_achievements-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .about_achi-left {
    width: 80%;
    margin: 0 auto;
  }
  .team_member {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .team_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  .team_member {
    padding: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .achi_cards,
  .team_container {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }
  .team_member {
    padding: 0;
  }
  .team_member p {
    margin-bottom: 1.5rem;
  }
}
